.card {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #050505;
    box-shadow: 0 4px 8px rgba(165, 165, 165, 0.1);
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(197, 197, 197, 0.8); /* Fondo semitransparente */
    padding: 20px;
    text-align: center;
  }
  
  .card-content h1, .card-content p {
    margin: 0;
    color: #020202;
    word-wrap: break-word; /* Asegura que el texto se ajuste */
  }
  
  /* Media Queries para dispositivos móviles */
  @media (max-width: 600px) {
    .card {
      max-width: 100%;
      border-radius: 5px;
    }
  
    .card-content {
      padding: 10px;
    }
  
    .card-content h1 {
      font-size: 1.2em;
    }
  
    .card-content p {
      font-size: 0.9em;
    }
  }
  
  /* Media Queries para pantallas más pequeñas */
  @media (max-width: 400px) {
    .card-content h1 {
      font-size: 1em;
    }
  
    .card-content p {
      font-size: 0.8em;
    }
  }